/* BASIC STYLES HERE */
.bg-image {
    background-image: url(https://vignette1.wikia.nocookie.net/pokemongo/images/d/d1/Pokedex_Background.png/revision/latest?cb=20160720022003);
    background-size: cover;
}


.btn-wild {
    background-color: #2616b9;
    color: #f3e419;
    text-align: center;
    text-shadow: #e9e9e6;
}

.btn-caught {
    background-color: #2616b9;
    color: #e9e9e6;
    text-align: center;
    
}

.navbar-color {
    background-color: #db1010;
}

/* .img-size {
    height: ;
} */